<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stanton Asteroids</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <h2>Smooth's Awesome Asteroid Avoidance</h2>
    <nav>
        <a href="highScore.html">High Score List</a>
    </nav>
    <canvas width="800" height="600" style="border:1px solid black; background-color: black;">
    
    </canvas>

    
    <form method="post" action="/saveScore" class="highscore" onsubmit="return checkForm()">        
        <input type="text" name="name" id="Name" placeholder="Enter your name for High Score" style="position:absolute; margin-left: auto; margin-right: auto; top:450px; width:200px;" />
        <input type="number" name="score" id="Score" style="display: none;" value="0"/>
        <button style="position:absolute; margin-left: auto; margin-right: auto; top:500px; width:100px;" type="submit">Submit</button>
    </form>

    <script src="script.js"></script>

</div>



</body>
</html>